{% macro searchForm(args) %}
    {%- set classWildcard = constant('FWK\\Core\\Form\\FormFactory::CLASS_WILDCARD') -%}
    {%- set attributeWildcard = constant('FWK\\Core\\Form\\FormFactory::ATTRIBUTE_WILDCARD') -%}
    {%- set dataSearch = {
        products: args.searchProducts,
        categories: args.searchCategories,
        blog: args.searchBlog,
        pages: args.searchPages,
        news: args.searchNews,
    } -%}

    {%- set attrDataLcForm = 'data-lc-form="searchForm" ' -%}
    {%- set attrDataMinCharacters = 'data-min-characters="' ~ args.minCharacters ~ '" ' -%}
    {%- set attrDataSearch = "data-search='" ~ outputJsonHtmlString(dataSearch) ~ "' " -%}

    {%- for name, element in args.form.outputElements([constant('FWK\\Enums\\RichFormItems::LC_DATA_VALIDATION')]) -%}

        {%- if name == constant('FWK\\Core\\Form\\Form::ELEMENT_FORM_START') -%}

            {{- element|replace({ (attributeWildcard):  attrDataLcForm ~ attrDataMinCharacters ~ attrDataSearch }) -}}
            <div class="form-message"></div>

        {%- elseif name == constant('FWK\\Core\\Form\\Form::ELEMENT_FORM_END') -%}

            {{- element -}}

        {%- elseif name == constant('FWK\\Core\\Form\\Form::SUBMIT') -%}

            {%- set attrAriaLabel = "aria-label='" ~ languageSheet[constant('FWK\\Enums\\LanguageLabels::SEARCH')]|striptags ~ "' " -%}
            <div class="moduleField moduleButton {{ args.form.template }}ModuleField" id="{{ args.form.template }}SubmitContainer">
                {{- element|replace({ (classWildcard): '', (attributeWildcard): attrAriaLabel }) -}}
            </div>

        {%- elseif name == constant('FWK\\Enums\\Parameters::Q') -%}

            <div class="form-group moduleField {{ args.form.template }}ModuleField" id="{{ args.form.template }}CriteriaContainer">
                {%- set thisElement = element|replace({ (classWildcard) : 'lcKimeraSearch', (attributeWildcard): '' }) -%}

                {%- if args.showLabel == false -%}
                    {%- set thisElement = thisElement|preg_replace('/<label ?.*>(.*)<\\/label>/', '') -%}
                {%- endif -%}
                {%- if args.showPlaceholder == false -%}
                    {%- set thisElement = thisElement|preg_replace('/placeholder=\\"([^"]*)\\"/', '') -%}
                {%- endif -%}

                {{- thisElement -}}
            </div>

        {%- else -%}
            {{- element -}}
        {%- endif -%}
    {%- endfor -%}
{% endmacro %}
