{%- macro filter(filters, appliedFilters, configuration, filterItemTemplate) -%}

    {%- set uid = random(10000000, 99999999) -%}

    {%- set elements -%}
        {%- import 'macros/modes/' ~ coreMode ~ '/product/filter/elements/q.html.twig' as filterProductMacro -%}
        {{- filterProductMacro.elements(filters, appliedFilters) -}}
    {%- endset -%}

    {%- set badgeAppliedFilters -%}
        {%- set nAppliedFilters = 0 -%}
        {%- if appliedFilters[constant('FWK\\Enums\\Parameters::Q')] is defined -%}
            {%- set nAppliedFilters = 1 -%}
        {%- endif -%}
        <span class="n-applied-filter n-{{ nAppliedFilters }} badge rounded-pill bg-primary">{{ nAppliedFilters }}</span>
    {%- endset -%}

    {%- set blockClass = 'filterBlock searchCriteriaFilterBlock' -%}
    {%- set filterName = languageSheet[constant('FWK\\Enums\\LanguageLabels::SEARCH_CRITERIA')] -%}

    {%- if filterItemTemplate != null -%}
        {{- filterItemTemplate|replace({
            '{{blockClassWildcard}}': blockClass,
            '{{dataAttributesWildcard}}': "",
            '{{uidWildcard}}': uid,
            '{{nameWildcard}}': filterName,
            '{{badgeAppliedFiltersWildcard}}': badgeAppliedFilters,
            '{{elementsWildcard}}': elements,
        }) -}}
    {%- else -%}
        <div class="{{- blockClass -}}">
            <div class="filterElements searchCriteriaFilterElements">
                {{- elements -}}
            </div>
        </div>
    {%- endif -%}

{%- endmacro -%}