{#-
	@description Print user type nav tabs

    @param {array} elements             Total usertypes from defined into theme configuration class
    @param {string} defaultUserType     Default user type defined into theme configuration class
    @param {string} tabPanePrefix       Prefix for html nav tabs
-#}
{%- macro userTypeNavTabs(elements, defaultUserType, tabPanePrefix = 'user') -%}
    <ul class="nav nav-tabs userTypeNavTabs" role="tablist">
        {%- for name, element in elements -%}
            <li role="presentation" class="nav-item">
                <a href="#{{ tabPanePrefix }}_tabPane_{{ name }}" class="nav-link {% if name == defaultUserType %}active{% endif %}" aria-controls="{{ tabPanePrefix }}_tabPane_{{ name }}" role="tab" data-bs-toggle="tab" data-lc-user-type="{{ name }}">{{ languageSheet[constant('FWK\\Enums\\LanguageLabels::' ~ name ~ '_TYPE')] }}</a>
            </li>
        {%- endfor -%}
    </ul>
{%- endmacro -%}