<div class="contentTd">
	<table border=1>
		<tr>
			<th>Label</th><th>Value</th>
		</tr>
		<tr>
			<td>percentPrice</td><td>{{ categoryProperties.percentPrice }}</td>
		</tr>
		<tr>
			<td>fareId</td><td>{{ categoryProperties.fareId }}</td>
		</tr>
		<tr>
			<td>percentPriceOverrideCustomPrices</td><td>{{ categoryProperties.percentPriceOverrideCustomPrices?"Yes":"No" }}</td>
		</tr>
		<tr>
			<td>useRetailPrice</td><td>{{ categoryProperties.useRetailPrice?"Yes":"No" }}</td>
		</tr>
		<tr>
			<td>definitionId</td><td>{{ categoryProperties.definitionId }}</td>
		</tr>
		<tr>
			<td>showBasePrice</td><td>{{ categoryProperties.showBasePrice?"Yes":"No" }}</td>
		</tr>
	</table>
</div>




