<div class="contentTd">
	<table border=1>
		<tr>
			<th>Label</th><th>Value</th>
		</tr>
		<tr>
			<td>startOfferDate</td><td>{{ localizedDateTime(definition.startOfferDate)}}</td>
		</tr>
		<tr>
			<td>offer</td><td>{{ definition.offer?"Si":"No" }}</td>
		</tr>
		<tr>
			<td>multipleOrderQuantity</td><td>{{ definition.multipleOrderQuantity }}</td>
		</tr>
		<tr>
			<td>featured</td><td>{{ definition.featured?"Si":"No" }}</td>
		</tr>
		<tr>
			<td>availableDate</td><td>{{ localizedDateTime(definition.availableDate) }}</td>
		</tr>
		<tr>
			<td>availabilityId</td><td>{{ definition.availabilityId }}</td>
		</tr>
		<tr>
			<td>showOrderBox</td><td>{{ definition.showOrderBox?"Si":"No" }}</td>
		</tr>
		<tr>
			<td>minOrderQuantity</td><td>{{ definition.minOrderQuantity }}</td>
		</tr>
		<tr>
			<td>maxOrderQuantity</td><td>{{ definition.maxOrderQuantity }}</td>
		</tr>
		<tr>
			<td>definitionId</td><td>{{ definition.definitionId }}</td>
		</tr>
		<tr>
			<td>percentPriceOverrideCustomPrices</td><td>{{ definition.percentPriceOverrideCustomPrices?"Si":"No" }}</td>
		</tr>
		<tr>
			<td>showDiscounts</td><td>{{ definition.showDiscounts?"Si":"No" }}</td>
		</tr>
		<tr>
			<td>backorder</td><td>{{ definition.backorder }}</td>
		</tr>
		<tr>
			<td>percentPrice</td><td>{{ definition.percentPrice }}</td>
		</tr>
		<tr>
			<td>priority</td><td>{{ definition.priority }}</td>
		</tr>
		<tr>
			<td>dateAdded</td><td>{{ localizedDateTime(definition.dateAdded) }}</td>
		</tr>
		<tr>
			<td>stockManagement</td><td>{{ definition.stockManagement?"Si":"No" }}</td>
		</tr>
		<tr>
			<td>groupQuantityByOptions</td><td>{{ definition.groupQuantityByOptions?"Si":"No" }}</td>
		</tr>
		<tr>
			<td>useRetailPrice</td><td>{{ definition.useRetailPrice?"Si":"No" }}</td>
		</tr>
		<tr>
			<td>showBasePrice</td><td>{{ definition.showBasePrice?"Si":"No" }}</td>
		</tr>
		<tr>
			<td>endFeaturedDate</td><td>{{ localizedDateTime(definition.endFeaturedDate) }}</td>
		</tr>
		<tr>
			<td>endOfferDate</td><td>{{ localizedDateTime(definition.endOfferDate) }}</td>
		</tr>
		<tr>
			<td>multipleActsOver</td><td>{{ definition.multipleActsOver }}</td>
		</tr>
		<tr>
			<td>onRequest</td><td>{{ definition.onRequest?"Si":"No" }}</td>
		</tr>
		<tr>
			<td>onRequestDays</td><td>{{ definition.onRequestDays }}</td>
		</tr>
		<tr>
			<td>active</td><td>{{ definition.active?"Si":"No" }}</td>
		</tr>
		<tr>
			<td>showPrice</td><td>{{ definition.showPrice?"Si":"No" }}</td>
		</tr>
		<tr>
			<td>giftCost</td><td>{{ definition.giftCost}}</td>
		</tr>
		<tr>
			<td>id</td><td>{{ definition.id}}</td>
		</tr>
	</table>
</div>



