{% macro accountOrders(args) %}
    {% import 'macros/modes/' ~ coreMode ~ '/user/rmas.html.twig' as macroRmas %}
    {% import 'macros/modes/' ~ coreMode ~ '/util/modalForm.html.twig' as ajaxModalForm %}
    {% if args.userId > 0 %}
        {% if args.orders.items|length > 0 %}
            {%- set iconsPath = getAssetsImgPath(constant('FWK\\Core\\Resources\\Assets::ENVIRONMENT_COMMERCE')) ~ '/userActions/' -%}

            <div class="userOrders userOrdersWithOrders">
                {%- set lcData = {
                    session: isSessionLoggedIn()
                } -%}
                {% set accounts = {} %}
                {% for account in args.orders.accounts %}
                    {% set key = 'id' ~ account.id %}
                    {% set accounts = accounts|merge({(key): account.name }) %}
                {% endfor %}

                {% for order in args.orders.items %}
                    {% set lcData = lcData|merge({
                        documentId: order.id,
                        token: '',
                        pdf: false,
                        isAccount: true, 
                    }) %}

                    {# if showStates[] is empty, print all states #}
                    {%- if order.status in args.showOrderStates or args.showOrderStates is empty -%}
                        {%- set orderData = {
                            orderId: order.id,
                            status: order.status,
                            substatus: order.substatus,
                        } -%}
                        <div class="userOrder userOrder{{ order.id }}" data-lc='{{ outputJsonHtmlString(orderData) }}'>
                            <div class="userOrderHeader">
                                <div class="userOrderHeader1">
                                    <div class="userOrderRow">
                                        <div class="userOrderCell">
                                            <div class="userOrderDate">
                                                <span class="lbl">{{ languageSheet[constant('FWK\\Enums\\LanguageLabels::DATE_ORDERED')] }}</span> <span class="val">{{ formatDateTime(order.date) }}</span>
                                            </div>
                                        </div>
                                        <div class="userOrderCell">
                                            <div class="userOrderCreator">
                                                <span class="lbl">{{ languageSheet[constant('FWK\\Enums\\LanguageLabels::ORDER_CREATOR')] }}</span> <span class="val">{{ order.registeredUserCreator.firstName }} {{ order.registeredUserCreator.lastName }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="userOrderRow">
                                        {% if order.documentNumber|length > 0 %}
                                            <div class="userOrderCell">
                                                <div class="userOrderNum">
                                                    <span class="lbl">{{ languageSheet[constant('FWK\\Enums\\LanguageLabels::ORDER_NUMBER')] }}</span> <span class="val">{{ order.documentNumber }}</span>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if accounts['id' ~ order.ownerAccountId] is defined %}
                                            <div class="userOrderCell">
                                                <div class="userOrderOwnerAccount">
                                                    <span class="lbl">{{ languageSheet[constant('FWK\\Enums\\LanguageLabels::ORDER_OWNER_ACCOUNT')] }}</span> <span class="val">{{ accounts['id'~ order.ownerAccountId] }}</span>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="userOrderHeader2">
                                    {%- set statusOutput = '' -%}
                                    {%- set status = languageSheet[constant('FWK\\Enums\\LanguageLabels::STATUS_' ~ order.status)] %}
                                    {%- if args.showStatus == constant('FWK\\ViewHelpers\\Account\\Macro\\AccountOrders::SHOW_STATUS_ONLY') -%}
                                        {%- set statusOutput = status -%}
                                    {%- elseif args.showStatus == constant('FWK\\ViewHelpers\\Account\\Macro\\AccountOrders::SHOW_STATUS_ALL') -%}
                                        {%- set statusOutput = status -%}
                                        {%- if order.substatus|length > 0 -%}
                                            {%- set statusOutput = statusOutput ~ ' / ' ~ order.substatus -%}
                                        {%- endif -%}
                                    {%- elseif args.showStatus == constant('FWK\\ViewHelpers\\Account\\Macro\\AccountOrders::SHOW_STATUS_PRIORITY_SUBSTATUS') -%}
                                        {%- set statusOutput = status -%}
                                        {%- if order.substatus|length > 0 -%}
                                            {%- set statusOutput = order.substatus -%}
                                        {%- endif -%}
                                    {%- endif -%}
                                    <div class="userOrderStatus">
                                        <span class="lbl">{{ languageSheet[constant('FWK\\Enums\\LanguageLabels::ORDER_STATUS')] }}</span> <span class="val">{{ statusOutput }}</span>
                                    </div> 
                                </div>
                            </div>
                            <div class="userOrderActions userOrderActions{{ order.id }}">
                                {% set lcData = lcData|merge({ 'documentType':'order', 'documentNumber':order.documentNumber, 'popupTitle': languageSheet[constant('FWK\\Enums\\LanguageLabels::ORDER_NUMBER')]}) %}
                                {# view order #}
                                {% if constant('FWK\\ViewHelpers\\Account\\Macro\\AccountOrders::ACTION_VIEW') in args.showOrderActions %}
                                    <div class="userOrderActionWrap">
                                        <button class="btn btn-link userOrderAction viewOrder" 
                                            {% if args.documentView == constant('FWK\\ViewHelpers\\Account\\Macro\\AccountOrders::POPUP') %}
                                                data-bs-toggle="modal" data-bs-target="#popupOrder" data-lc-function="viewDocumentPopup" 
                                            {% elseif args.documentView == constant('FWK\\ViewHelpers\\Account\\Macro\\AccountOrders::WINDOW') %}
                                                data-lc-function="viewDocument"
                                            {% endif %}
                                            data-lc-event="click" data-lc-data='{{ outputJsonHtmlString(lcData) }}'>
                                            {% if constant('FWK\\ViewHelpers\\Account\\Macro\\AccountOrders::ACTION_VIEW') in args.showOrderIcons %}
                                            	<img src="{{ iconsPath ~ 'viewOrder' ~ constant('USER_ACTIONS_FILE_EXTENSION') }}" alt="{{ languageSheet[constant('FWK\\Enums\\LanguageLabels::VIEW_ORDER')] }}">
                                            {% endif %}
                                            <span>{{ languageSheet[constant('FWK\\Enums\\LanguageLabels::VIEW_ORDER')] }}</span>
                                        </button>
                                    </div>
                                {% endif %}
                                 
                                {# view order pdf #}
                                {% if constant('FWK\\ViewHelpers\\Account\\Macro\\AccountOrders::ACTION_VIEW_PDF') in args.showOrderActions %}
                                    <div class="userOrderActionWrap">
                                        <button class="btn btn-link userOrderAction viewOrderPdf" data-lc-event="click" data-lc-function="viewDocument" data-lc-data='{{ outputJsonHtmlString(lcData|merge({'pdf':true})) }}'>
                                            {% if constant('FWK\\ViewHelpers\\Account\\Macro\\AccountOrders::ACTION_VIEW_PDF') in args.showOrderIcons %}
                                            	<img src="{{ iconsPath ~ 'viewOrderPdf' ~ constant('USER_ACTIONS_FILE_EXTENSION') }}" alt="{{ languageSheet[constant('FWK\\Enums\\LanguageLabels::VIEW_ORDER_PDF')] }}">
                                            {% endif %} 
                                            <span>{{ languageSheet[constant('FWK\\Enums\\LanguageLabels::VIEW_ORDER_PDF')] }}</span>
                                        </button>
                                    </div>
                                {% endif %}
                                
                                {# recover order #}
                                {% if constant('FWK\\ViewHelpers\\Account\\Macro\\AccountOrders::ACTION_RECOVER') in args.showOrderActions %}
                                    <div class="userOrderActionWrap">
                                        <button class="btn btn-link userOrderAction recoverOrder" data-lc-event="click" data-lc-function="recoverOrder" data-lc-data='{{ outputJsonHtmlString(lcData) }}'>
                                        	{% if constant('FWK\\ViewHelpers\\Account\\Macro\\AccountOrders::ACTION_RECOVER') in args.showOrderIcons %}
                                            	<img src="{{ iconsPath ~ 'recoverOrder' ~ constant('USER_ACTIONS_FILE_EXTENSION') }}" alt="{{ languageSheet[constant('FWK\\Enums\\LanguageLabels::RECOVER_ORDER')] }}">
                                            {% endif %} 
                                            <span>{{ languageSheet[constant('FWK\\Enums\\LanguageLabels::RECOVER_ORDER')] }}</span>
                                        </button>
                                    </div>
                                {% endif %}

                                {# invoice #}
                                {% set lcData = lcData|merge({ 'documentType': 'invoice', 'popupTitle': languageSheet[constant('FWK\\Enums\\LanguageLabels::INVOICE_NUMBER')] }) %}
                                {% for invoice in order.invoices %}
                                    {% set lcData = lcData|merge({ 'documentId': invoice.id, 'documentNumber':invoice.documentNumber }) %}
                                    {% if constant('FWK\\ViewHelpers\\Account\\Macro\\AccountOrders::ACTION_INVOICE') in args.showOrderActions %}
                                        <div class="userOrderActionWrap">
                                            <button class="btn btn-link userOrderAction invoice"
                                                {% if args.documentView == constant('FWK\\ViewHelpers\\Account\\Macro\\AccountOrders::POPUP') %}
                                                    data-bs-toggle="modal" data-bs-target="#popupInvoice" data-lc-function="viewDocumentPopup" 
                                                {% elseif args.documentView == constant('FWK\\ViewHelpers\\Account\\Macro\\AccountOrders::WINDOW') %}
                                                    data-lc-function="viewDocument" 
                                                {% endif %}
                                                data-lc-event="click" data-lc-data='{{ outputJsonHtmlString(lcData) }}'>
                                                {% if constant('FWK\\ViewHelpers\\Account\\Macro\\AccountOrders::ACTION_INVOICE') in args.showOrderIcons %}
                                                    <img src="{{ iconsPath ~ 'viewInvoice' ~ constant('USER_ACTIONS_FILE_EXTENSION') }}" alt="{{ languageSheet[constant('FWK\\Enums\\LanguageLabels::VIEW_INVOICE')] }} - {{ invoice.documentNumber }}">
                                                {% endif %} 
                                                <span>{{ languageSheet[constant('FWK\\Enums\\LanguageLabels::VIEW_INVOICE')] }} - {{ invoice.documentNumber }}</span>
                                            </button>
                                        </div>

                                    {% endif %}
                                    {% if constant('FWK\\ViewHelpers\\Account\\Macro\\AccountOrders::ACTION_INVOICE_PDF') in args.showOrderActions %}
                                        <div class="userOrderActionWrap">
                                            <button class="btn btn-link userOrderAction invoicePDF" data-lc-event="click" data-lc-function="viewDocument" data-lc-data='{{ outputJsonHtmlString(lcData|merge({'pdf':true})) }}'>
                                                {% if constant('FWK\\ViewHelpers\\Account\\Macro\\AccountOrders::ACTION_INVOICE_PDF') in args.showOrderIcons %}
                                                    <img src="{{ iconsPath ~ 'viewInvoicePdf' ~ constant('USER_ACTIONS_FILE_EXTENSION') }}" alt="{{ languageSheet[constant('FWK\\Enums\\LanguageLabels::VIEW_INVOICE_PDF')] }} - {{ invoice.documentNumber }}">
                                                {% endif %} 
                                                <span>{{ languageSheet[constant('FWK\\Enums\\LanguageLabels::VIEW_INVOICE_PDF')] }} - {{ invoice.documentNumber }}</span>
                                            </button>
                                        </div>
                                    {% endif %}
                                {% endfor %}

                                {# delivery note #}
                                {# FIXME: no existeixen les deliveryNotes penjant de order aquí #}
                                {% set lcData = lcData|merge({ 'documentType': 'deliveryNote' }) %}
                                {% for deliveryNote in order.deliveryNotes %}
                                    {% set lcData = lcData|merge({ 'documentId': deliveryNote.id }) %}
                                    {% if constant('FWK\\ViewHelpers\\Account\\Macro\\AccountOrders::ACTION_DELIVERY_NOTE') in args.showOrderActions %}
                                        <div class="userOrderActionWrap">
                                            <button class="btn btn-link userOrderAction deliveryNote" data-lc-event="click" data-lc-function="viewDocument" data-lc-data='{{ outputJsonHtmlString(lcData) }}'>
                                                {% if constant('FWK\\ViewHelpers\\Account\\Macro\\AccountOrders::ACTION_DELIVERY_NOTE') in args.showOrderIcons %}
                                                    <img src="{{ iconsPath ~ 'viewDeliveryNote' ~ constant('USER_ACTIONS_FILE_EXTENSION') }}" alt="{{ languageSheet[constant('FWK\\Enums\\LanguageLabels::VIEW_DELIVERY_NOTE')] }} - {{ deliveryNote.documentNumber }}">
                                                {% endif %} 
                                                <span>{{ languageSheet[constant('FWK\\Enums\\LanguageLabels::VIEW_DELIVERY_NOTE')] }} - {{ deliveryNote.documentNumber }}</span>
                                            </button>
                                        </div>
                                    {% endif %}
                                    {% if constant('FWK\\ViewHelpers\\Account\\Macro\\AccountOrders::ACTION_DELIVERY_NOTE_PDF') in args.showOrderActions %}
                                        <div class="userOrderActionWrap">
                                            <button class="btn btn-link userOrderAction deliveryNotePDF" data-lc-event="click" data-lc-function="viewDocument" data-lc-data='{{ outputJsonHtmlString(lcData|merge({'pdf':true})) }}'>
                                                {% if constant('FWK\\ViewHelpers\\Account\\Macro\\AccountOrders::ACTION_DELIVERY_NOTE_PDF') in args.showOrderIcons %}
                                                    <img src="{{iconsPath ~ 'viewDeliveryNotePdf' ~ constant('USER_ACTIONS_FILE_EXTENSION') }}" alt="{{ languageSheet[constant('FWK\\Enums\\LanguageLabels::VIEW_DELIVERY_NOTE_PDF')] }} - {{ deliveryNote.documentNumber }}">
                                                {% endif %} 
                                                <span>{{ languageSheet[constant('FWK\\Enums\\LanguageLabels::RETURN_ORDER')] }} - {{ deliveryNote.documentNumber }}</span>
                                            </button>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                {# return order #}
                                {% set lcData = lcData|merge({ 'documentType': 'returnForm' }) %}
                                {% if constant('FWK\\ViewHelpers\\Account\\Macro\\AccountOrders::ACTION_RETURN') in args.showOrderActions and order.allowReturn and order.ownerAccountId == session.user.id %}
                                    {% set lcData = lcData|merge({ 'documentId': order.id }) %}
                                    <div class="userOrderActionWrap" id="returnOrderDiv">
                                        <button class="btn btn-link userOrderAction viewOrder" 
                                            {% if args.returnProductsView == constant('FWK\\ViewHelpers\\Account\\Macro\\AccountOrders::POPUP') %}
                                                data-bs-toggle="modal" data-bs-target="#returnProductsPopup" data-lc-function="getReturnRequestForm" 
                                            {% elseif args.returnProductsView == constant('FWK\\ViewHelpers\\Account\\Macro\\AccountOrders::WINDOW') %}
                                                data-lc-function="viewDocument" 
                                            {% endif %}
                                            data-lc-event="click" data-lc-data='{{ outputJsonHtmlString(lcData) }}'>
                                            {% if constant('FWK\\ViewHelpers\\Account\\Macro\\AccountOrders::ACTION_RETURN') in args.showOrderIcons %}
                                            	<img src="{{ iconsPath ~ 'getReturn' ~ constant('USER_ACTIONS_FILE_EXTENSION') }}">
                                            {% endif %}
                                            <span>{{ languageSheet[constant('FWK\\Enums\\LanguageLabels::VIEW_ASK_FOR_RETURN')] }}</span>
                                        </button>
                                    </div>

                                {% endif %}

                                {# return tracing #}                                
                                {% set lcData = lcData|merge({ 'documentType': 'returnTracing' }) %}
                                {% if constant('FWK\\ViewHelpers\\Account\\Macro\\AccountOrders::ACTION_RETURN_TRACING') in args.showOrderActions %}
                                    {% set lcData = lcData|merge({ 'documentId': order.id }) %}
                                    <div class="userOrderActionWrap returnTracing returnTracing{{ order.id }}" 
                                        {% if order.rmas is empty %}
                                            style="display: none"
                                        {% endif %}
                                        >
                                        <button id="returnTracingButton" class="btn btn-link userOrderAction viewOrder" 
                                            {% if args.returnTracingView == constant('FWK\\ViewHelpers\\Account\\Macro\\AccountOrders::POPUP') %}
                                                data-bs-toggle="modal" data-bs-target="#returnTracingPopup" data-lc-function="returnTracingForm" data-lc-event="click"
                                            {% elseif args.returnTracingView == constant('FWK\\ViewHelpers\\Account\\Macro\\AccountOrders::WINDOW') %}
                                                {# FIXME: aixo esta malament segur: #}
                                                data-lc-event="click" data-lc-function="viewDocument" 
                                            {% endif %}
                                            data-lc-data='{{ outputJsonHtmlString(lcData) }}'>
                                        	{% if constant('FWK\\ViewHelpers\\Account\\Macro\\AccountOrders::ACTION_RETURN_TRACING') in args.showOrderIcons %}
                                            	<img src="{{ iconsPath ~ 'returnTracking' ~ constant('USER_ACTIONS_FILE_EXTENSION') }}">
                                            {% endif %}
                                            <span>{{ languageSheet[constant('FWK\\Enums\\LanguageLabels::RETURN_TRACING')] }}</span>
                                        </button>
                                    </div>
                                {% endif %}
                                
                                {% if constant('FWK\\ViewHelpers\\Account\\Macro\\AccountOrders::ACTION_APPROVAL') in args.showOrderActions 
                                    and order.status == constant('SDK\\Enums\\OrderStatus::PENDING_APPROVAL') %}
                                    {% set lcDecisionData = {
                                        orderId: order.id,
                                        decision: constant('SDK\\Enums\\AccountOrderApprovalDecision::APPROVE'),
                                    } %}
                                    <div class="userOrderActionWrap">
                                        <button class="btn btn-link userOrderAction approveLink" data-lc-event="click" data-lc-function="ordersApprovalDecision" data-bs-toggle="modal" data-bs-target="#ordersApprovalDecisionPopup" data-lc-data='{{ outputJsonHtmlString(lcDecisionData) }}'>
                                            <img src="{{iconsPath ~ 'approveOrder' ~ constant('USER_ACTIONS_FILE_EXTENSION') }}" alt="{{ languageSheet[constant('FWK\\Enums\\LanguageLabels::VIEW_ORDER_APPROVE')] }}">
                                            <span>{{ languageSheet[constant('FWK\\Enums\\LanguageLabels::VIEW_ORDER_APPROVE')] }}</span>
                                        </button>
                                    </div>

                                    {% set lcDecisionData = {
                                        orderId: order.id,
                                        decision: constant('SDK\\Enums\\AccountOrderApprovalDecision::REJECT'),
                                    } %}
                                    <div class="userOrderActionWrap">
                                        <button class="btn btn-link userOrderAction rejectLink" data-lc-event="click" data-lc-function="ordersApprovalDecision" data-bs-toggle="modal" data-bs-target="#ordersApprovalDecisionPopup" data-lc-data='{{ outputJsonHtmlString(lcDecisionData) }}'>
                                            <img src="{{iconsPath ~ 'rejectOrder' ~ constant('USER_ACTIONS_FILE_EXTENSION') }}" alt="{{ languageSheet[constant('FWK\\Enums\\LanguageLabels::VIEW_ORDER_REJECT')] }}">
                                            <span>{{ languageSheet[constant('FWK\\Enums\\LanguageLabels::VIEW_ORDER_REJECT')] }}</span>
                                        </button>
                                    </div>
                                {% endif %}
                                
                                {# incidences link #}
                                {# TODO incidences link all system #}
                                {#
                                    {% if args.showIncidences == true %}
                                        <div class="userOrderActionWrap">
                                            <a class="btn btn-link userOrderAction incidencesLink" href="#helperEcommercePath('orderIncidences')#/#LOCAL.stcOrder.id#/">
                                                <img src="{{ args.incidencesIcon|default(iconsPath ~ 'incidences' ~ constant('USER_ACTIONS_FILE_EXTENSION')) }}" alt="{{ languageSheet[constant('FWK\\Enums\\LanguageLabels::INCIDENCES_ORDER')] }}">
                                                <span>{{ languageSheet[constant('FWK\\Enums\\LanguageLabels::INCIDENCES_ORDER')] }}</span>
                                            </a>
                                        </div>
                                    {% endif %}
                                #}
                                
                            </div>

                            {%- set validTrackingShipments = 0 -%}
                            {%- for shipment in order.shipments -%}
                                {%- set isValidTrackingUrl = false -%}
                                {%- set hasWildcard = shipment.trackingUrl|preg_match_all('/trackingNumber/')|length -%}
                                {%- if (shipment.trackingUrl|length and hasWildcard == 0) or (hasWildcard > 0 and shipment.trackingNumber|length) -%}
                                    {%- set isValidTrackingUrl = true -%}
                                {%- endif -%}
                                {%- if isValidTrackingUrl or shipment.trackingNumber|length -%}
                                    {%- set validTrackingShipments = validTrackingShipments + 1 -%}
                                {%- endif -%}
                            {%- endfor -%}
                            {%- if (order.shipments is defined and order.shipments|length) and (validTrackingShipments or order.shipments|length > 1) -%}
                                {%- set lcData = {
                                    documentId: order.id,
                                } -%}
                                {%- set shipmentsDataContent -%}                                    
                                    {%- if order.shipments|length > 1 -%}
                                        <div class="userOrderActionWrap">
                                            <a data-lc-event="click" data-lc-data='{{ outputJsonHtmlString(lcData) }}' data-bs-toggle="modal" data-bs-target="#popupShipmentsOrder{{ order.id }}" data-lc-function="viewAllShipments" class="btn btn-link userOrderAction viewAllShipments">
                                                <img src="{{ iconsPath ~ 'viewShipments' ~ constant('USER_ACTIONS_FILE_EXTENSION') }}" alt="{{ languageSheet[constant('FWK\\Enums\\LanguageLabels::SHIPPING_TRACKING')] }}">
                                                <span>{{ languageSheet[constant('FWK\\Enums\\LanguageLabels::VIEW_EXPEDITIONS')] }}</span>
                                            </a>
                                        </div>
                                        
                                        <div class="lcModal modal fade popupShipmentsOrder" id="popupShipmentsOrder{{ order.id }}" tabindex="-1" aria-labelledby="popupShipmentsOrder{{ order.id }}Title" aria-hidden="true">
                                            <div class="modal-dialog modal-lg modal-dialog-centered modal-fullscreen-sm-down">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <div id="popupShipmentsOrder{{ order.id }}Title" class="popup-order-title heading">
                                                            {{- languageSheet[constant('FWK\\Enums\\LanguageLabels::USER_SHIPMENTS')] }} - {{ languageSheet[constant('FWK\\Enums\\LanguageLabels::ORDER_NUMBER')] }} {{ order.documentNumber -}}
                                                        </div>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{- languageSheet[constant('FWK\\Enums\\LanguageLabels::CLOSE')] -}}"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div id="viewShipmentsOrder{{ order.id }}" class="lcModalContainer">
                                                            <div class="loading-document">
                                                                <div class="spinner-border text-primary" role="status"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button
                                                            type="button"
                                                            class="btn btn-secondary lcModalClose"
                                                            data-bs-dismiss="modal">{{- languageSheet[constant('FWK\\Enums\\LanguageLabels::CLOSE')] -}}</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {%- endif -%}
                                    {%- import 'macros/modes/' ~ coreMode ~ '/user/orderTrackings.html.twig' as modeUser -%}
                                    {{- modeUser.orderTrackings({
                                        shipments: order.shipments,
                                        showContainer: false,
                                    }) -}}
                                {%- endset -%}

                                {%- if shipmentsDataContent|trim|length -%}
                                    <div class="userOrderShipments userOrderShipmentsHeader">
                                        <div class="userOrderShipmentsTitle">{{- languageSheet[constant('FWK\\Enums\\LanguageLabels::USER_SHIPMENTS')] -}}</div>
                                        {%- if order.shipments|length > 1 -%}
                                            <div class="userOrderShipmentsNum">
                                                {{- languageSheet[constant('FWK\\Enums\\LanguageLabels::USER_SHIPMENTS_INFO')]|replace({ 
                                                    '{{total}}': order.shipments|length 
                                                }) }} <a role="button" class="userOrderShipmentsLink" data-lc-event="click" data-lc-data='{{ outputJsonHtmlString(lcData) }}' data-bs-toggle="modal" data-bs-target="#popupShipmentsOrder{{ order.id }}" data-lc-function="viewAllShipments">{{- languageSheet[constant('FWK\\Enums\\LanguageLabels::USER_SHIPMENTS_INFO_LINK')] -}}</a>
                                            </div>
                                        {%- endif -%}
                                    </div>

                                    <div class="userOrderShipments userOrderShipmentsData">{{- shipmentsDataContent -}}</div>
                                {%- endif -%}
                            {%- endif -%}
                        </div>
                    {%- endif -%}

                {% endfor %}
            </div>
        {% else %}
            <div class="userOrders userOrdersEmpty">{{ languageSheet[constant('FWK\\Enums\\LanguageLabels::USER_NO_ORDERS')] }}</div>
        {% endif %}
    {% endif %}

    {{ ajaxModalForm.ajaxModalConfirmForm({
        modalId: 'ordersApprovalDecisionPopup',
        modalClass: 'ordersApprovalDecisionPopup lc-accountOrdersModal',
        containerId: 'ordersApprovalDecision',
        dialogSize: 'modal-dialog modal-sm modal-dialog-centered',
        titleKey:   constant('FWK\\Enums\\LanguageLabels::POPUP_CONFIRM_TITLE'),
        textKey:    constant('FWK\\Enums\\LanguageLabels::POPUP_CONFIRM_TEXT'),
        cancelKey:  constant('FWK\\Enums\\LanguageLabels::CANCEL'),
        confirmKey: constant('FWK\\Enums\\LanguageLabels::SAVE'),
        confirmBtnId: 'ordersApprovalDecisionButtonConfirm',
        btnBaseClass: 'ordersApprovalDecisionButton',
        confirmBtnClass: 'btn-danger'
    }) }}
    {{ ajaxModalForm.ajaxModalForm({
        modalId: 'popupOrder',
        modalClass: 'popupOrderModal lc-accountOrdersModal',
        title: languageSheet[constant('FWK\\Enums\\LanguageLabels::ORDER_NUMBER')],
        contentId: 'viewpopuporder',
        dialogSize: 'modal-dialog modal-lg modal-dialog-centered modal-fullscreen-sm-down'
    }) }}
    {{ ajaxModalForm.ajaxModalForm({
        modalId: 'popupInvoice',
        modalClass: 'popupInvoiceModal lc-accountOrdersModal',
        title: languageSheet[constant('FWK\\Enums\\LanguageLabels::INVOICE_NUMBER')],
        contentId: 'viewpopupinvoice',
        dialogSize: 'modal-dialog modal-lg modal-dialog-centered modal-fullscreen-sm-down'
    }) }}
    {{ ajaxModalForm.ajaxModalForm({
        modalId: 'returnProductsPopup',
        modalClass: 'returnProductsPopupModal lc-accountOrdersModal',
        title: languageSheet[constant('FWK\\Enums\\LanguageLabels::RETURN_ORDER')],
        contentId: 'returnOrderPopup',
        dialogSize: 'modal-dialog modal-lg modal-dialog-centered modal-fullscreen-lg-down'
    }) }}
    {{ ajaxModalForm.ajaxModalForm({
        modalId: 'returnTracingPopup',
        modalClass: 'returnTracingPopup lc-accountOrdersModal',
        title: languageSheet[constant('FWK\\Enums\\LanguageLabels::RETURN_TRACING')],
        contentId: 'returnTracingContentPopup',
        dialogSize: 'modal-dialog modal-lg modal-dialog-centered modal-fullscreen-sm-down'
    }) }}
{% endmacro accountOrders %}
