
{% macro usedAccountSwitch(args) %}
    <div class="usedAccountSwitchLinks {{args.class}}" >
        {%- set classWildcard = constant('FWK\\Core\\Form\\FormFactory::CLASS_WILDCARD') -%} 
        {%- set attributeWildcard = constant('FWK\\Core\\Form\\FormFactory::ATTRIBUTE_WILDCARD') -%}
        {%- for name, element in args.form.outputElements([constant('FWK\\Enums\\RichFormItems::LC_DATA_VALIDATION')]) -%}
            {%- if name == constant('FWK\\Core\\Form\\Form::ELEMENT_FORM_START') -%}
                {{- element|replace({ (attributeWildcard): 'data-lc-form="usedAccountSwitchForm" ' ~ (args.acceptRouteWarning?'data-lc-accept-route-warning="true"':'' ) }) -}}
                <div class="form-message"></div>
                {#<div class="formText usedAccountSwitchFormText">
                    {{- languageSheet[constant('FWK\\Enums\\LanguageLabels::COUNTRIES_LINKS_TEXT')] -}}   
                </div> #}
                <div class="usedAccountSwitchForm">
            {%- elseif name in [constant('FWK\\Core\\Form\\Form::ELEMENT_FORM_END'), constant('FWK\\Enums\\Parameters::ID'), constant('FWK\\Enums\\Parameters::CAPTCHA_TOKEN')] -%}
                {{- element -}}
            {%- elseif name == constant('FWK\\Core\\Form\\Form::SUBMIT') -%}
                    {{- legalCheck -}}
                    <div class="formField formButton usedAccountSwitchField form-group" id="usedAccountSwitch{{- ucwords(name) -}}Container" >
                        {{- element|replace({ (classWildcard): '', (attributeWildcard): '' }) -}}
                    </div>
                    <div class="formResponseContainer" id="usedAccountSwitchResponse"></div>
                </div>
            {%- else -%}
                <div class="form-group formField usedAccountSwitchField" id="usedAccountSwitch{{- ucwords(name) -}}Container">
                    {{- element|replace({ 
                        (classWildcard): args.class,
                        (attributeWildcard): '' 
                    }) -}}
                </div>
            {%- endif -%}
        {%- endfor -%}
    </div>
{% endmacro %}