{%- macro bundle(args, basketItem) -%}
    {%- import 'macros/modes/' ~ coreMode ~ '/basket/miniBasketRows/bundleItem.html.twig' as basketRowBundleItem -%}
    
    {%- if args.showDeleteItem == true -%}
        <a class="miniBasketItemDelete" href="#" role="button" aria-label="{{ languageSheet[constant('FWK\\Enums\\LanguageLabels::DELETE_ROW')] }}" data-lc-mini-basket-delete="{{ basketItem.hash }}">
            <span aria-hidden="true" class="miniBasketItemDeleteIcon glyphicon glyphicon-trash"></span>
        </a>
    {%- endif -%}

    {%- if args.showImage == true -%}
        <span class="miniBasketItemImage">
            <button class="miniBasketBundleImage collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#mbCollap{{ basketItem.hash }}" aria-expanded="false" aria-controls="mbCollap{{ basketItem.hash }}">
                {%- for basketBundleItem in basketItem.items -%}
                    <span class="wrap">
                        <img src="{{ basketBundleItem.images.smallImage }}" alt="{{ basketBundleItem.name|striptags }}" title="{{ basketBundleItem.name|striptags }}" onerror="this.onerror=null;this.src='{{ getAssetsImgPath(constant('FWK\\Core\\Resources\\Assets::ENVIRONMENT_THEMES')) ~ '/' ~  constant('IMAGE_MISSING_BASKET_ITEM') }}';" class="miniBasketItemImage img-fluid">
                    </span>
                {%- endfor -%}
            </button>
        </span>
    {%- endif -%}

    <div class="miniBasketItemContent">
        {%- if args.editable == false -%}
            <span class="miniBasketItemNum">{{ basketItem.quantityOutput|replace({ '{{className}}': 'form-control' }) }}</span>
        {%- endif -%}
        <span class="miniBasketItemName">{{ basketItem.name }}</span>
        {%- if args.editable == true -%}
            <span class="miniBasketItemQuantity miniBasketItemNum">{{ basketItem.quantityOutput|replace({ '{{className}}': 'form-control' }) }}</span>
        {%- endif -%}
        <div class="miniBasketItemPrice miniBasketItemPriceTotal">
            {%- set basketItemTotal = basketItem.subtotal -%}
            {%- if args.showTaxIncluded == true -%}
                {%- set basketItemTotal = basketItem.total -%}
            {%- endif -%}

            {%- if basketItemTotal != 0 -%}
                {{- outputHtmlCurrency(basketItemTotal) -}}
            {%- else -%}
                {{- outputHtmlCurrency(0) -}}
            {%- endif -%}
        </div>
        <button class="miniBasketViewBundle collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#mbCollap{{ basketItem.hash }}" aria-expanded="false" aria-controls="mbCollap{{ basketItem.hash }}">
            {{- languageSheet[constant('FWK\\Enums\\LanguageLabels::BASKET_VIEW_PACK')] -}}
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>
        </button>
    </div>

    <div class="miniBasketBundleItems collapse" id="mbCollap{{ basketItem.hash }}">
        {%- for basketBundleItem in basketItem.items -%}
            <div class="miniBasketBundleItem">
                {{- basketRowBundleItem.bundleItem(args, basketBundleItem) -}}
            </div>    
        {%- endfor -%}
    </div>
{%- endmacro bundle -%}