{% macro singleSelectionImage(option, optionIdName, args) %}
    <div class="productOption productOptionRadio productOptionImage productOption{{ optionIdName }} productOptionPId_{{ option.pId }}" data-lc-product-option='{{ outputJsonHtmlString({ id: optionIdName, name: option.language.name, pId: option.pId }) }}'>

        {%- if args.showImageOptions == true and option.image|length > 0 -%}
            <div class="productOptionContainerImage" title="{{ option.language.prompt|default(option.language.name) }}">
                <img src="{{ option.image }}" alt="{{ option.language.prompt|default(option.language.name|escape) }}">
            </div>
        {%- endif -%}
        <div class="productOptionPrompt" title="{{ option.language.prompt|default(option.language.name|escape) }}">{{ option.language.prompt|default(option.language.name) }}</div>
        <div class="productOptionValues">
            {%- for optionValue in option.values -%}
                <div class="productOptionValue productOptionValue{{ loop.index }} productOptionRadioValue productOptionImageValue" data-lc-product-option-value='{{ outputJsonHtmlString({ id: optionValue.id, value: optionValue.language.value, combinable: option.combinable }) }}'>

                {%- set uid = random(10000000, 99999999) -%}
                <label class="productOptionValueName" for="optionValue_{{ uid }}_{{ optionValue.id }}" {%- if args.showTitleInLabelUniqueImage == true %} title="{{ optionValue.language.value }}" {%- endif %}>
                    <img src="{{ optionValue.images.smallImage }}" class="productOptionValueImage" alt="{{ optionValue.language.value }}" onerror="this.onerror=null;this.src='{{ getAssetsImgPath(constant('FWK\\Core\\Resources\\Assets::ENVIRONMENT_COMMERCE')) ~ '/' ~ constant('IMAGE_MISSING_OPTION_IMAGE') }}';">
                </label>

                <input 
                    type="radio" 
                    id="optionValue_{{ uid }}_{{ optionValue.id }}" 
                    name="optionValue{{ optionIdName }}" 
                    class="productOptionRadioValue productOptionImageValue" 
                    value="{{ optionValue.id }}"
                    {% if optionValue.id == option.selectedOptionValueId %}
                        checked="checked"
                    {% endif %}
                    autocomplete="off"
                >

                {%- if args.showShortDescription == true and optionValue.language.shortDescription|length > 0 -%}
                    <div class="productOptionValueDescription productOptionShortDescription">{{ optionValue.language.shortDescription }}</div>
                {%- endif -%}
                {%- if args.showLongDescription == true and optionValue.language.longDescription|length > 0 -%}
                    <div class="productOptionValueDescription productOptionLongDescription">{{ optionValue.language.longDescription }}</div>
                {%- endif -%}
               </div>
            {%- endfor -%}
         </div>
    </div>
{% endmacro %}