{% if route.type != constant('SDK\\Enums\\RouteType::CHECKOUT_GUEST') %}

    {% set classWildcard = constant('FWK\\Core\\Form\\FormFactory::CLASS_WILDCARD') %}
    {% set attributeWildcard = constant('FWK\\Core\\Form\\FormFactory::ATTRIBUTE_WILDCARD') %}

    {% if args.showCreateAccountCheck == true %}
        <div class="form-check formFieldGroup userFieldGroup userFieldGroupCreateAccount">
            <input type="checkbox" id="{{ name|replace({ 'password': 'createAccountCheck' }) }}" class="form-check-input userFieldCreateAccountCheck" checked="checked" data-lc-target="{{ constant('FWK\\Enums\\Parameters::CREATE_ACCOUNT') }}">
            <label class="form-check-label" for="{{ name|replace({ 'password': 'createAccountCheck' }) }}">{{ languageSheet[constant('FWK\\Enums\\LanguageLabels::CREATE_ACCOUNT')] }}</label>
        </div>
    {% endif %}

    <div class="form-group formFieldGroup userFieldGroup userFieldGroup{{ name|ucfirst }} createAccountFieldGroup">
        {{- input|replace({ 
            (classWildcard): 'createAccountField', 
            (attributeWildcard): '' 
        })|raw -}}
    </div>

{% endif %}