<table class="table gridOptions gridOptionsTable table-bordered">
    <thead>
        <tr>
            <th class="gridOptionsNames">{{- languageSheet[constant('FWK\\Enums\\LanguageLabels::PRODUCT_GRID_HEADER_2X2')]|replace({ "{{opcion1}}": firstOption.name,"{{opcion2}}": secondOption.name}) -}}</th>
            {% for secondOptionValue in secondOption.valueIds %}
                {% for firstOptionValue in firstOption.valueIds %}
                    <th>
                        <b>{{- languageSheet[constant('FWK\\Enums\\LanguageLabels::PRODUCT_GRID_HEADER_2X2')]|replace({ "{{opcion1}}": optionValues[firstOptionValue].value,"{{opcion2}}": optionValues[secondOptionValue].value}) -}}</b>
                    </th>
                {% endfor %}
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>{{ languageSheet[constant('FWK\\Enums\\LanguageLabels::QUANTITY')] }}</th> 
            {% for secondOptionValue in secondOption.valueIds %}
                {% for firstOptionValue in firstOption.valueIds %}
                    <td class="basket basketQuantity">
                        {%- if firstOptionValue > secondOptionValue -%}
                            {% set gridCell = row.grid[secondOptionValue ~ '-' ~ firstOptionValue] %}
                        {%- else -%}
                            {% set gridCell = row.grid[firstOptionValue ~ '-' ~ secondOptionValue] %}
                        {%- endif -%}
                        {{ gridCell.quantityOutput(args.quantityPlugin, args.selectableBoxRows, args.editable)|replace({ '{{className}}': 'form-control' }) }}
                    </td>
                {% endfor %}
            {% endfor %}
        </tr>
    </tbody>
</table>