<div class="contentTd">
	<table border=1>
		<tr>
			<th>Label</th><th>Value</th>
		</tr>
		<tr>
			<td>showStock</td><td>{{ catalogSettings.showStock?'Yes':'No' }}</td>
		</tr>
		<tr>
			<td>showPrice</td><td>{{ catalogSettings.showPrice?'Yes':'No' }}</td>
		</tr>
		<tr>
			<td>showOfferPrice</td><td>{{ catalogSettings.showOfferPrice?'Yes':'No' }}</td>
		</tr>
		<tr>
			<td>showTaxesIncluded</td><td>{{ catalogSettings.showTaxesIncluded?'Yes':'No' }}</td>
		</tr>
		<tr>
			<td>availabilityId</td><td>{{ catalogSettings.availabilityId }}</td>
		</tr>
		<tr>
			<td>showOptionImages</td><td>{{ catalogSettings.showOptionImages?'Yes':'No' }}</td>
		</tr>
	</table>
</div>




