<div class="contentTd">
	<table border=1>
		<tr>
			<th>Label</th><th>Value</th>
		</tr>
		<tr>
			<td>storeURL</td><td>{{ generalSettings.storeURL }}</td>
		</tr>
		<tr>
			<td>logo</td><td>{{ generalSettings.logo }}</td>
		</tr>
		<tr>
			<td>cdnAssets</td><td>{{ generalSettings.cdnAssets }}</td>
		</tr>
		<tr>
			<td>cdnImages</td><td>{{ generalSettings.cdnImages }}</td>
		</tr>
		<tr>
			<td>phone</td><td>{{ generalSettings.phone }}</td>
		</tr>
		<tr>
			<td>active</td><td>{{ generalSettings.active }}</td>
		</tr>
		<tr>
			<td>login</td><td>{{ generalSettings.login }}</td>
		</tr>
		<tr>
			<td>defaultLocale</td><td>{{ generalSettings.defaultLocale }}</td>
		</tr>
		<tr>
			<td>defaultCurrency</td><td>{{ generalSettings.defaultCurrency }}</td>
		</tr>
		<tr>
			<td>defaultCountry</td><td>{{ generalSettings.defaultCountry }}</td>
		</tr>
		<tr>
			<td>defaultLanguage</td><td>{{ generalSettings.defaultLanguage }}</td>
		</tr>
		<tr>
			<td>weightUnits</td><td>{{ generalSettings.weightUnits }}</td>
		</tr>
		<tr>
			<td>timeZone</td><td>{{ generalSettings.timeZone }}</td>
		</tr>		
		<tr>
			<td>merchantInformation</td><td>{{ generalSettings.merchantInformation }}</td>
		</tr>
		<tr>
			<td>merchantEmail</td><td>{{ generalSettings.merchantEmail }}</td>
		</tr>
		<tr>
			<td>name</td><td>{{ generalSettings.name }}</td>
		</tr>
		<tr>
			<td>description</td><td>{{ generalSettings.description }}</td>
		</tr>				
	</table>
</div>




