<div class="contentTd">
	<table border=1>
		<tr>
			<th>Label</th><th>Value</th>
		</tr>
		<tr>
			<td>cookieActive</td><td>{{ legalSettings.cookieActive?'Yes':'No' }}</td>
		</tr>
		<tr>
			<td>checkSubscription</td><td>{{ legalSettings.checkSubscription?'Yes':'No' }}</td>
		</tr>
		<tr>
			<td>autoAcceptCookies</td><td>{{ legalSettings.autoAcceptCookies?'Yes':'No' }}</td>
		</tr>
		<tr>
			<td>activeGDPR</td><td>{{ legalSettings.activeGDPR?'Yes':'No' }}</td>
		</tr>
		<tr>
			<td>useCookiesByDefault</td><td>{{ legalSettings.useCookiesByDefault?'Yes':'No' }}</td>
		</tr>
		<tr>
			<td>allowCookiesBlock</td><td>{{ legalSettings.allowCookiesBlock?'Yes':'No' }}</td>
		</tr>
		<tr>
			<td>recordsMaintainedMonths</td><td>{{ legalSettings.recordsMaintainedMonths }}</td>
		</tr>
		<tr>
			<td>legalText</td><td>{{ legalSettings.legalText }}</td>
		</tr>
	</table>
</div>




