<div class="contentTd">
	<table border=1>
		<tr>
			<th>Label</th><th>Value</th>
		</tr>
		<tr>
			<td>active</td><td>{{ sitemapSettings.active?'Yes':'No' }}</td>
		</tr>
		<tr>
			<td>splitTypes</td><td>{{ sitemapSettings.splitTypes?'Yes':'No' }}</td>
		</tr>
		<tr>
			<td>splitLanguages</td><td>{{ sitemapSettings.splitLanguages?'Yes':'No' }}</td>
		</tr>
		<tr>
			<td>compression</td><td>{{ sitemapSettings.compression?'Yes':'No' }}</td>
		</tr>
		<tr>
			<td>updateInterval</td><td>{{ sitemapSettings.updateInterval }}</td>
		</tr>
		<tr>
			<td>updateIntervalMultiplier</td><td>{{ sitemapSettings.updateIntervalMultiplier }}</td>
		</tr>
		<tr>
			<td>includeCategories</td><td>{{ sitemapSettings.includeCategories?'Yes':'No' }}</td>
		</tr>
		<tr>
			<td>includeProducts</td><td>{{ sitemapSettings.includeProducts?'Yes':'No' }}</td>
		</tr>
		<tr>
			<td>includeProductsOnlyInStock</td><td>{{ sitemapSettings.includeProductsOnlyInStock?'Yes':'No' }}</td>
		</tr>
		<tr>
			<td>includePages</td><td>{{ sitemapSettings.includePages?'Yes':'No' }}</td>
		</tr>
		<tr>
			<td>includeNews</td><td>{{ sitemapSettings.includeNews?'Yes':'No' }}</td>
		</tr>
		<tr>
			<td>includeBlog</td><td>{{ sitemapSettings.includeBlog?'Yes':'No' }}</td>
		</tr>
	</table>
</div>




