<div class="contentTd">
	<table border=1>
		<tr>
			<th>Label</th><th>Value</th>
		</tr>
		<tr>
			<td>stockManagement</td><td>{{ stockSettings.stockManagement?'Yes':'No' }}</td>
		</tr>
		<tr>
			<td>stockSystem</td><td>{{ stockSettings.stockSystem }}</td>
		</tr>
		<tr>
			<td>catalogStockPolicy</td><td>{{ stockSettings.catalogStockPolicy }}</td>
		</tr>
		<tr>
			<td>allowReservations</td><td>{{ stockSettings.allowReservations?'Yes':'No' }}</td>
		</tr>
		<tr>
			<td>allowMultiexpedition</td><td>{{ stockSettings.allowMultiexpedition?'Yes':'No' }}</td>
		</tr>
		<tr>
			<td>useStockPrevisionOnReservePrevision</td><td>{{ stockSettings.useStockPrevisionOnReservePrevision?'Yes':'No' }}</td>
		</tr>
		<tr>
			<td>shipmentsByDate</td><td>{{ stockSettings.shipmentsByDate }}</td>
		</tr>
	</table>
</div>




