{% macro buttonWishlist(args) %}
	{% set display %} 
		{% if session.user.id == 0 %} style="display: none" {% endif %}	
	{% endset %}
	{% if args.type == constant('FWK\\ViewHelpers\\User\\Macro\\ButtonWishlist::TYPE_SEND') %}
		<button type="button" class="userSendWishlist userSendWishlist {{ args.class }}" {{ display }} data-bs-toggle="modal" data-bs-target="#userSendWishlist" data-lc-required='{ "el": "#userSendWishlist", "macro": "buttonWishlist" }'>
			{{ languageSheet[constant('FWK\\Enums\\LanguageLabels::WISHLIST_SEND_BUTTON')] }}
		</button>
	{% elseif args.type == constant('FWK\\ViewHelpers\\User\\Macro\\ButtonWishlist::TYPE_DELETE') %}
		<button type="button" class="userDeleteWishlist userDeleteWishlist {{ args.class }}" {{ display }} data-bs-toggle="modal" data-bs-target="#userDeleteWishlist" data-lc-required='{ "el": "#userDeleteWishlist", "macro": "buttonWishlist" }'>
			{{ languageSheet[constant('FWK\\Enums\\LanguageLabels::WISHLIST_DELETE_BUTTON')] }}
		</button>
	{% endif %}
{% endmacro buttonWishlist %}