{% macro changePasswordForm(args) %}
	{% set classWildcard = constant('FWK\\Core\\Form\\FormFactory::CLASS_WILDCARD') %} 
	{% set attributeWildcard = constant('FWK\\Core\\Form\\FormFactory::ATTRIBUTE_WILDCARD') %}
	{% for name, element in args.form.outputElements([constant('FWK\\Enums\\RichFormItems::LC_DATA_VALIDATION')]) %}
		{% if name == constant('FWK\\Core\\Form\\Form::ELEMENT_FORM_START') %}
			{{ element|replace({ (attributeWildcard): 'data-lc-form="changePasswordForm"' }) }}
		{% elseif name == constant('FWK\\Core\\Form\\Form::SUBMIT') %}
			<div class="form-group formField formButton changePasswordField" id="changePasswordSubmitContainer">
				{{ element|replace({ (classWildcard): '' }) }}
			</div>
		{% elseif name == constant('FWK\\Enums\\Parameters::PASSWORD') %}
			<div class="form-group formField changePasswordField" id="oldPasswordContainer">
				{{ element|replace({ (classWildcard) : '', (attributeWildcard): '' }) }}
			</div>
		{% elseif name == constant('FWK\\Enums\\Parameters::NEW_PASSWORD') %}
			<div class="form-group formField changePasswordField" id="passwordContainer">
				{{ element|replace({ (classWildcard) : '', (attributeWildcard): '' }) }}
			</div>
		{% elseif name == constant('FWK\\Enums\\Parameters::NEW_PASSWORD_RETYPE') %}
			<div class="form-group formField changePasswordField" id="retypePasswordContainer">
				{{ element|replace({ (classWildcard) : '', (attributeWildcard): '' }) }}
			</div>
		{% else %}	
                {{ element }}
		{% endif %}
	{% endfor %}
{% endmacro %}
