{% macro editShoppingListRowNotesModal(args) %}
    {%- import 'macros/user.twig' as userMacros -%}

    <div class="lcModal modal fade popupEditShoppingListRowNotesModal" id="popupEditShoppingListRowNotes" data-lc-modal-callback="userEditShoppingListRowNotesCallback" tabindex="-1" aria-labelledby="popupEditShoppingListRowNotesTitle" aria-hidden="true">
        <div class="modal-dialog {{ args.dialogClasses }}">
            <div class="modal-content">
                {%- if args.showHeader -%}
                    <div class="modal-header">
                        <div id="popupEditShoppingListRowNotesTitle" class="popup-order-title heading">
                            {{- args.headerTitle -}}
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{- languageSheet[constant('FWK\\Enums\\LanguageLabels::CLOSE')] -}}"></button>
                    </div>
                {%- endif -%}
                <div class="modal-body">
                    {%- if not args.showHeader -%}
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{- languageSheet[constant('FWK\\Enums\\LanguageLabels::CLOSE')] -}}"></button>
                    {%- endif -%}
                    <div id="viewpopupEditShoppingListRowNotes" class="lcModalContainer">
                        {{ userMacros.shoppingListRowNotesForm({
                            form: args.form
                        }) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endmacro %}
