{% macro sendWishlistForm(args) %}

	{% set classWildcard = constant('FWK\\Core\\Form\\FormFactory::CLASS_WILDCARD') %}
	{% set attributeWildcard = constant('FWK\\Core\\Form\\FormFactory::ATTRIBUTE_WILDCARD') %}
	{% set openWishlistProductsData = false %}

	{% for name, element in args.form.outputElements([constant('FWK\\Enums\\RichFormItems::LC_DATA_VALIDATION')]) %}

		{% if name == constant('FWK\\Core\\Form\\Form::ELEMENT_FORM_START') %}
			{{ element|replace({ (attributeWildcard): '' }) }}
		{% elseif name == constant('FWK\\Core\\Form\\Form::ELEMENT_FORM_END') %}
			{{ element }}
		{% elseif name == constant('FWK\\Core\\Form\\Form::SUBMIT') %}

			</div>{# /.wishlistProductsData #}

			<div class="wishlistProducts">

				{% for product in args.products %}
					<div class="wishlistProduct">
						<label>
							<span class="wishlistProductCheck">
								<input type="checkbox" name="productId" value="{{ product.id }}" class="form-check-input">
							</span>
							<span class="wishlistProductImage">
								{% if product.mainImages.smallImage|length %}
									<img class="productSmallImage wishlistProductImage" src="{{ product.mainImages.smallImage }}" alt="{{ product.language.name|striptags|escape }}">
								{% endif %}
							</span>
							<span class="wishlistProductName">{{ product.language.name }}</span>
						</label>
					</div>
				{% endfor %}

			</div>{# /.wishlistProducts #}

			<div class="modal-footer form-group formField sendWishlistSubmitContainer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ languageSheet[constant('FWK\\Enums\\LanguageLabels::CLOSE')] }}</button>
				{{ element|replace({ (classWildcard): 'formButton sendWishlistButton', (attributeWildcard): '' }) }}
			</div>

		{% elseif name == constant('FWK\\Enums\\Parameters::PRODUCT_ID_LIST') %}

			{{ element|replace({ (classWildcard): '', (attributeWildcard): '' }) }}

		{% else %}

			{% if openWishlistProductsData == false %}
				{% set openWishlistProductsData = true %}
				<div class="wishlistProductsData">
			{% endif %}

			<div class="form-group formField sendWishlistField" id="sendWishlist{{ name|ucfirst }}Container">
				{{ element|replace({ (classWildcard) : '', (attributeWildcard): '' }) }}
			</div>

		{% endif %}

	{% endfor %}

{% endmacro %}
