<div class="contentTd">
	<table border=1>
		<tr>
			<th>Label</th><th>Value</th>
		</tr>
		<tr>
			<td>priority</td><td>{{ brand.priority }}</td>
		</tr>
		<tr>
			<td>id</td><td>{{ brand.id }}</td>
		</tr>
		<tr>
			<td>smallImage</td><td>{{ brand.language.smallImage }}</td>
		</tr>
		<tr>
			<td>smallTitleImage</td><td>{{ brand.language.smallTitleImage }}</td>
		</tr>
		<tr>
			<td>name</td><td>{{ brand.language.name }}</td>
		</tr>
	</table>
</div>




