<div class="contentTd">
	<table border=1>
		<tr>
			<th>Label</th><th>Value</th>
		</tr>
		<tr>
			<td>shortDescription</td><td>{{ language.shortDescription }}</td>
		</tr>
		<tr>
			<td>smallTitleImage</td><td>{{ language.smallTitleImage }}</td>
		</tr>
		<tr>
			<td>longDescription</td><td>{{ language.longDescription }}</td>
		</tr>
		<tr>
			<td>coreKeyword</td><td>{{ language.coreKeyword }}</td>
		</tr>
		<tr>
			<td>altImageKeywords</td><td>{{ language.altImageKeywords }}</td>
		</tr>
		<tr>
			<td>largeTitleImage</td><td>{{ language.largeTitleImage }}</td>
		</tr>
		<tr>
			<td>addGenericTitle</td><td>{{ language.addGenericTitle? "Si" : "No" }}</td>
		</tr>
		<tr>
			<td>name</td><td>{{ language.name }}</td>
		</tr>
		<tr>
			<td>keywords</td><td>{{ language.keywords }}</td>
		</tr>
		<tr>
			<td>particularTitle</td><td>{{ language.particularTitle }}</td>
		</tr>
		<tr>
			<td>metaDescription</td><td>{{ language.metaDescription }}</td>
		</tr>
		<tr>
			<td>urlSeo</td><td>{{ language.urlSeo }}</td>
		</tr>
	</table>

</div>




